.title
{
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 10px 10px 10px 12px;
    background-color: transparent;
    overflow: hidden;
    overflow-wrap: anywhere;
    white-space: normal;
    cursor: pointer;
}

.list
{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 2px 4px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    list-style: none;

}

.list-item
{
    display: flex;
    flex-direction: row;
    scroll-margin: 80px;
    background-color: #22272B;
    border-radius: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

.list-item .del-icon
{
    display: none;
    max-width: 30px;
    max-height: 50px;
    margin: 10px;
}
.list-item:hover
{  
    border:2px solid #4d97d3;
    cursor: pointer;
    box-sizing: border-box;
}
.list-item:hover .del-icon
{
    display: block;
}

.list-item-content
{ 
    display: block;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 10px;
}